@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.label-style input[type="checkbox"] + .label-icon {
    display: flex;
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid #000;
    border-radius: 4px;
}
.label-style input[type="checkbox"] + .label-icon:after {
    position: absolute;
    top: 5px;
    left: 8px;
    width: 4px;
    height: 8px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #000;
    content: "";
    transform: rotate(45deg);
}
.label-style input[type="checkbox"]:checked + .label-icon {
    border: none;
    background: #3863AD;
}
.label-style input[type="checkbox"]:checked + .label-icon:after {
    top: 6px;
    left: 9px;
    border-color: #FFF;
}

.header-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 1;
    width: 100%;
    padding: 0 0 8px;
    background: #FFF;
    transform: translateX(-50%);
}
.header-wrap .header-container {
    display: flex;
    justify-content: space-between;
}
.header-wrap .header-container .header-title {
    flex: 0 0 118px;
}
.header-wrap .header-container .header-title .home-link {
    display: flex;
    height: 88px;
    padding: 12px;
}
.header-wrap .header-container .header-title .home-link img {
    width: 100%;
}
.header-wrap .header-container .login-box {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    padding: 12px;
}
.header-wrap .header-container input {
    width: 100%;
    height: 32px;
    padding: 8px 16px;
    border: none;
    border-radius: 9px;
    background: #0000000d;
    font-size: 1rem;
    color: #909090;
}
.header-wrap nav .tab-menu-list {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    gap: 8px;
}
.header-wrap nav .tab-menu-list .tab-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.header-wrap nav .tab-menu-list .tab-menu-item .tab-menu-button {
    width: 100%;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 4px;
    background: #FFF;
    font-size: 1rem;
    color: #000;
}
.header-wrap nav .tab-menu-list .tab-menu-item .tab-menu-button.active {
    border: none;
    background: #3863AD;
    color: #FFF;
}
.header-wrap .button-box {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    padding: 0 12px;
}
.header-wrap .button-box.active {
    display: flex;
}
.header-wrap .button-box button {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background: #3863AD;
    font-size: 1rem;
    color: #FFF;
}
.header-height {
    height: 178px;
}

section .card-list-wrap {
    display: none;
    padding: 0 12px;
}
section .card-list-wrap.active {
    display: block;
}
section .card-list-wrap .card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
section .card-list-wrap .card-list .card-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(50% - 4px);
}
section .card-list-wrap .card-list .card-item .button-box {
    display: flex;
    gap: 8px;
}
section .card-list-wrap .card-list .card-item .image-box {
    width: 100%;
}
section .card-list-wrap .card-list .card-item .image-box img {
    width: 100%;
}
section .deck-list-wrap {
    display: none;
    padding: 0 12px;
}
section .deck-list-wrap.active {
    display: block;
}
section .deck-list-wrap .deck-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
section .deck-list-wrap .deck-list .deck-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(50% - 4px);
}
section .deck-list-wrap .deck-list .deck-item .button-box {
    display: flex;
    gap: 8px;
}
section .deck-list-wrap .deck-list .deck-item .image-box {
    width: 100%;
}
section .deck-list-wrap .deck-list .deck-item .image-box img {
    width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    section .card-list-wrap .card-list .card-item {
        width: calc(25% - 6px);
    }
    section .deck-list-wrap .deck-list .deck-item {
        width: calc(25% - 6px);
    }
}

@media (min-width: 1025px) {
    section .card-list-wrap .card-list .card-item {
        width: calc(12.5% - 7px);
    }
    section .deck-list-wrap .deck-list .deck-item {
        width: calc(12.5% - 7px);
    }
}